@model Prova.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nome: @Model.Nome</h2>
<h2>Periodo: @Model.Periodo</h2>
<h2>Mensalidade: @Model.Mensalidade</h2>
